@import "materialize/components/color";
$primary: color("blue", "lighten-2") !default;
$secondary: color("red", "lighten-2") !default;
@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.parallax-container {
  height: 300px;
}

.nav-wrapper {
  background-color: $primary;
}

nav {
  margin-bottom: 50px;
}

a {
  color: white;
}

.btn {
  background-color: $primary;
}

#submit {
  margin-top: 20px;
}
